
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');


body{
font-family: 'Plus Jakarta Sans', sans-serif;
background-color: #f6f6fe;
}

.color-nav {
  background-color: #7e77e5;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #55f0a7 !important;
  outline: none !important;
}

.color-white{
  color: aliceblue;
}

.color-green{
  color: #55f0a7;
}

.color-main{
  color: #7e77e5
}